{% extends 'blog/base.html' %}

{% block content %}
<div class="container">

    <h1>О блоге</h1>
    <p>Добро пожаловать в наш читательский блог! Здесь каждый зарегистрированный пользователь может вести свой блог, делиться мыслями, обсуждать книги разных жанров, находить друзей и общаться.</p>

    <h3>Возможности платформы:</h3>
    <ul>
        <li>Создание и ведение личного блога</li>
        <li>Обсуждение книг</li>
        <li>Написание отзывов и рецензий</li>
        <li>Общение между читателями</li>
    </ul>

    <h3>Наша миссия</h3>
    <p>Мы стремимся создать удобную и уютную атмосферу в нашем блоге. Найти единомышленников и с помощью друг друга узнать что-то новое и найти что-то интересное!</p>
    <div>
        <p>На нашем сайте уже целых <span><strong>{{count_posts}}</strong></span> постов!</p>
    </div>

</div>

{% endblock content %}