{% extends 'blog/base.html' %}

{% load static %}

{% block content %}

<div class="container">
    <h1>Главная страница</h1>

    <div class="main-image">
        <img src="{% static 'img/fon.jpg' %}" alt="Фон блога">
    </div>

    {% for post in page_obj %}
    <div class="post-container">
        <div class="post-image">
            {% if post.image %}
                <img src="{{ post.image.url }}" alt="{{ post.title }}">
            {% else %}
                <img src="{% static 'img/no_image_3.jpg' %}" alt="Нет изображения">
            {% endif %}
        </div>
        
        <div class="post-content">
            <h3 class="post-author">{{ post.author }}</h3>
            <h4 class="post-title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h4>
            <p class="post-text">{{ post.text }}</p>
            <p class="post-date">{{ post.created_at }}</p>
            
        </div>

       
        <div class="button_post">
        {% if user == post.author  %}
            <button type="submit"><a class="update_post_a"  href="{% url 'blog:update_post' pk=post.pk %}">Редактировать пост</a></button>
        {% endif %}     
        </div>
        
    </div>
    {% endfor %}

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo;Первая</a>
                <a href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
            {% endif %}
            <span class="current">
                Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
            </span>
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Следующая</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Последняя&raquo;</a>
            {% endif %}
        </span>
    </div>

</div>



{% endblock content %}